*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: ;
  font-family: "Nunito", sans-serif;
  color: #000000;
  background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center top;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}
form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 30px auto;
  padding: 10px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  background-color: #fefefe;
}

.form-elem {
  min-width: 60%;
  
}

label {
  font-size: 0.9rem;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
  font-weight: lighter;
}

input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
  margin-bottom: 15px;
}

.submit {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: #4a6959;
  color: #fefefe;
}

.error {
  display: block;
  color: #db2269;
  font-size: 0.625em;
  margin-top: -5px;
}

.error-col {
  color: #db2269;
}
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
